<%- include("partials/header") %>
<div class="parent">
<div class="header">
    <h1>Movies: <br>&#8595; &#8595;	&#8595;</h1>
</div>
<div class="show" style="display: flex;flex-wrap:wrap; justify-content:center;align-items: center;">

    <% var i = 0; %> 
    <% data["Search"].forEach(function(movie){ %>
        <!-- <div class="A">
            <div class="Display">
                <h2><%= movie["Title"] %></h2><br>
                <h3>Realeased on : <%= movie["Year"] %></h3>
                
                
            </div>
            <div class="Display">
                 <img src= <%= data["Search"][i].Poster %> > 
            </div>
        </div>  -->
        <div class="card mt-4 mb-4 ml-4 mr-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card" style="width:23rem">
            <img src= <%= data["Search"][i].Poster %> >
            <div class="card-body">
              <h4 class="card-title"><%= movie["Title"] %></h4>
              <p class="card-text">Realeased on : <%= movie["Year"] %></p>
             
             
            </div>
          </div>
        </div>
        
    

        
            <% i++; %>
            
        
    <% }); %>
    </div>

<div id="footer"></div>
</div>

<%- include("partials/footer") %>
